@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Pet List";
}

<h2>Pet Store</h2>
<img src="http://nicepetsblog.com/wp-content/uploads/2007/12/doggies-2d1.jpg" />
<p>Welcome to the Pet Store! Here you can browse our pets and look at them and buy them or you don't have to because this is America and you don't have to buy a pet if you don't want to but I encourage you to buy one because otherwise they will be very sad because the pets are aware that living in a pet store sucks bigtime and they would much rather live in your house and sleep on your couch and eat your table scraps and poop in your yard than live in a shitty pet store that always smells weird and has lots of stupid little kids always looking at them and poking their grubby little fingers at them. So buy a pet. Click on the pet store link. Please.</p>

